/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');

/* default style */
body{
    margin:0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}
*:not(i){
    font-family: 'Noto Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:before,:after{
    box-sizing:border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-width: 1140px;
    margin: auto;
}
header,
section,
footer{
    display: block;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 45px;
    color: #000000;
    font-weight: 700;
    font-family: "Great Vibes", cursive;
    letter-spacing: 2px;
    margin:0;
    text-transform: capitalize;
}
/* header */
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(225,255,255,0.1);
    transition: all 0.5s ease;
}
.header.fixed{
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
}
.header .logo{
    padding: 0 15px;
}
.header .logo a{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.header.fixed .logo a{
    color: #000000;
}
.header .hamburger-btn{
    display: inline-block;
    height: 34px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}
.header.fixed .hamburger-btn{
    border-color: #000000;
    background-color: #000000;
}
.header .hamburger-btn span{
    display: block;
    height: 1px;
    width: 16px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.5s ease;
}
.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #ffffff;
}
.header .hamburger-btn span:before{
    top: -6px;
}
.header .hamburger-btn span:after{
    top: 6px;
}   
.header .nav{
    padding: 0 15px;
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}
.header .nav ul li a{
    display:block;
    padding:25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}
.header.fixed .nav ul li a{
    color:#555555;
}

/* home section */
.home-section{
    min-height: 100vh;
    position: relative;
}
.home-section .slide{
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 6.777s ease-in-out;
}
.home-section .slide.active{
    opacity: 1;
    visibility: visible;
}
.home-section .slide:before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.home-section .row{
    min-height: 100vh;
}
.home-section .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding:0 15px;
    text-align: center;
}
.home-section .home-content p{
    font-size: 24px;
    color:rgb(255, 255, 255);
    margin:0 0 15px;
}
.home-section .slide.active .home-content p{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
}
@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.home-section .home-content h1{
    font-size: 80px;
    color:rgb(255, 255, 255);
    margin: 0;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
}
.home-section .slide.active .home-content h1{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}
.home-section .home-content span{
    font-size: 30px;
    display: inline-block;
    /*border: 1px solid #ffffff;
    border-radius: 30px;*/
    color:white;
    padding: 7px 30px;
    margin:15px 0 0;
}
.home-section .slide.active .home-content span{
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
}

/*information-section*/
.information-section{
    padding: 80px 0 0;
}
.information-section .information{ 
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}
.information-section .information:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}
.information-section .information i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
}
.information-section .information img{
    max-width: 60%;
    width: 60%;
    border-radius: 10%;
    border: 5px solid transparent;
}
.information-section .information h3{
    font-size: 40px;
    margin: 15px 0;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px; 
}
.information-section .information p{
    font-size: 16px;
    line-height: 26px;
    color: #555555; 
    margin:0;
}

/*preparation section*/

.preparation-section{
    padding: 80px 0 80px;
}
.preparation-section .preparation-content{
    flex:0 0 100%;
    max-width: 100%;
    position: relative;
}
.preparation-section .preparation-content:before{
    content: '';
    position:absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #cccccc;
}
.preparation-section .preparation-item i{
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 5px;
    width: 31px;
    text-align: center;
    background-color: #f3f2f1;
    padding: 5px;
}
.preparation-section .preparation-item{
    display: flex;
    flex-wrap: wrap;
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}
.preparation-section .preparation-item:last-child{
    margin-bottom: 0;
}
.preparation-section .preparation-item:nth-child(even){
    flex-direction: row-reverse;
}
.preparation-section .preparation-item:nth-child(odd) .preparation-text{
    padding:0 60px 0 15px;
    text-align: right;
}
.preparation-section .preparation-item:nth-child(odd) .preparation-img{
    padding: 0 15px 0 60px;
}
.preparation-section .preparation-item:nth-child(even) .preparation-text{
    padding:0 15px 0 60px;
}
.preparation-section .preparation-item:nth-child(even) .preparation-img{
    padding: 0 60px 0 15px;
}
.preparation-section .preparation-text,
.preparation-section .preparation-img{
    flex:0 0 50%;
    max-width: 50%;
}
.preparation-section .preparation-img{
    width: 100%;
}
.preparation-section .preparation-text h3{
    font-size: 24px;
    margin: 0 0 8px;
    color:#000000;
    font-weight: 500;
    text-transform: capitalize;
}
.preparation-section .preparation-text span.date{
    font-size: 15px;
    font-weight: 700;
    color: #555555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}
.preparation-section .preparation-text p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #555555;
}

/* event section */
.event-section{
    padding: 80px 0 0;
}
.event-section .event{ 
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}
.event-section .event:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}
.event-section .event i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
}
.event-section .event img{
    max-width: 60%;
    width: 60%;
    border-radius: 10%;
    border: 5px solid transparent;
}
.event-section .event h3{
    font-size: 40px;
    margin: 15px 0;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px; 
}
.event-section .event p{
    font-size: 16px;
    line-height: 26px;
    color: #555555; 
    margin:0;
}

/* hotels section */
.hotels-section{
    padding: 80px 0 80px;
}
.hotels-section .hotels-item{
    flex:0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-top: 25px;
    
}
.hotels-section .hotels-item-inner{
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}
.hotels-section .hotels-item-inner img{
    width:100%;
    box-shadow: 0 0 10px #cccccc;
    
}
.hotels-section .hotels-item-inner h2{
    font-size: 21px;
    color: #0ea05c;
    margin: 10px 0 5px;
}
.hotels-section .hotels-item-inner h3{
   font-size: 19px;
   color: #000;
   font-weight: 500; 
   margin: 20px 0 5px;
}
.hotels-section .hotels-item-inner h3 a{
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: round;


}
.hotels-section .hotels-item-inner h3 i{
    color: rgb(253, 0, 13);
}
.hotels-section .hotels-item-inner h3 a:hover i{
    color:white;
}
.hotels-section .hotels-item-inner h3 a:hover{
    background-color: rgb(250, 0, 13);
}
.hotels-section .hotels-item-inner h5{
    color: rgb(230, 176, 27);
    font-size: 15px;
}
.hotels-section .hotels-item-inner p{
    color: #555555;
    font-size: 16px;
    margin:0 0 10px;
}
.hotels-section .hotels-item-inner a{
    font-size: 20px;
    display: inline-block;
    border: 1px solid #0ea05c;
    border-radius: 30px;
    color:#0ea05c;
    padding: 7px 30px;
    margin:15px 0 0;
}

.hotels-section .hotels-item-inner a:hover{
    color:#f3f2f1;
}

/* footer */
.footer{
    padding: 120px 0 120px;
}
.footer .footer-content{
    flex:0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.footer .footer-content .couple-name{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.footer .footer-content .couple-name img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.footer .footer-content .couple-name h2{
    font-size: 40px;
    font-family: "Great Vibes", cursive;
    color:#000000;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.footer .footer-content .couple-name h2 span{
    font-family: "Great vibes", cursive;
    font-weight: normal;
    display: block;
}

