/* pink color style */
.hotels-section .hotels-item-inner a,
.hotels-section .social-links a i,
.event-section .event i.fa-heart,
.event-section .event h3,
.preparation-section .preparation-item i,
.preparation-section .preparation-text h3,
.information-section .information i.fa-heart,
.information-section .information h3,
.header .nav a.active,
.header .nav a:hover,
.selected-language{
    color:#0c6e40;
}


.event-section .event img,
.information-section .information img{
    border-color:#0ea05c;
}


.hotels-section .hotels-item-inner a:hover{
    background-color:#0ea05c;
}


